@using project_joran_en_alina.App_Code;
@using System.Data;

@{
    String file = Session["file"] as string;
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;

    SongMethods smds = new SongMethods();

    string id = Request.QueryString["id"];

    DataRow dr = smds.GetSong(id, file);

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title></title>
    <title></title>
</head>
<body style="background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png')">
    <a type="button" class="mt-1 ml-1 btn btn-primary btn-lg btn-dark" href="~/index.cshtml">Back</a>


    <form class="mt-1 ml-1 mr-1 mb-1">
        <table>
            <thead class="table table-striped table-dark table-bordered table-hover">
                <tr><td class="col-form-label">ID:</td><td class="col-sm-10"><input class="form-control" type="text" name="id" value="@dr["id"]" readonly /></td></tr>
                <tr><td class="col-form-label">Artiest:</td><td class="col-sm-10"><input class="form-control" type="text" name="artist" value="@dr["artist"]" readonly /></td></tr>
                <tr><td class="col-form-label">title:</td><td class="col-sm-10"><input class="form-control" type="text" name="title" value="@dr["title"]" readonly /></td></tr>
                <tr><td class="col-form-label">Jaar:</td><td class="col-sm-10"><input class="form-control" type="text" name="year" value="@dr["year"]" readonly /></td></tr>
                <tr><td class="col-form-label">Genre:</td><td class="col-sm-10"><input class="form-control" type="text" name="genre" value="@dr["genre"]" readonly /></td></tr>
                <tr><td class="col-form-label">Tijd:</td><td class="col-sm-10"><input class="form-control" type="text" name="time" value="@dr["time"]" readonly /></td></tr>
                <tr><td class="col-form-label">Youtube-URL:</td><td class="col-sm-10"><input class="form-control" type="text" name="Youtube" value="@dr["file"]" readonly /></td></tr>
            </thead>

        </table>
    </form>




    <div>

    </div>
</body>
</html>
